body .btn`rimary, body .btn.btn-secondary {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 2px;
  border-style: solid;
}

body h1 {
  color: #c69;
}

body .btn.btn-primary:disabled {
  opacity: .5;
}

body .btn.btn-secondary {
  background-color: #edbcc8;
  color: black;
}

body .btn.btn-secondary:disabled {
  opacity: .5;
}
