body .btn.btn-primary, body .btn.btn-secondary {
  padding: 2px 10px;
  border-radius: 2px;
  border-style: solid;
}

body .btn.btn-primary:disabled, body .btn.btn-secondary:disabled {
  opacity: .5;
}

body h1 {
  color: #c69;
}

body .btn.btn-primary {
  background-color: #cc4466;
  color: white;
}

body .btn.btn-secondary {
  background-color: #edbcc8;
  color: black;
}
