body {
    h1 {
    color: red;
  }
  
  .btn {
    padding: 2px 10px 2px 10px;
    border: 1px #c46 solid;
    border-radius: 2px;
    &:disabled{
      opacity: .5;
    }
    &-primary{
      color: white;
      background: #c46;
    }
    &.btn-secondary{
      color: black;
      background: #edbcc8;
    }

  }
}

