@mixin btn_theme($bc, $opac:.5) {
    background-color: $bc;
    .btn__price{
      color: white;
      background-color: green;
      padding: 1px 3px 1px 3px;
    }

    &:disabled {
      opacity: $opac;
      .btn__price{
        background-color: #aaaaaa;
      }
    }
}


body {
    h1 {
    color: #c69;
  }
}

.btn {
  padding: 2px 10px;
  border-style: solid;
  border-width: 1px;
  line-height: 20px;
  border-radius: 2px;

    &--mode-primary {
      color: rgb(255, 255, 255);
      @include btn_theme(rgb(204,68,102));
      }
    
    &--mode-secondary {
      @include btn_theme(rgb(237,188,200));
    }
}