body h1 {
  color: red;
}

body .btn {
  padding: 2px 10px 2px 10px;
  border: 1px #c46 solid;
  border-radius: 2px;
}

body .btn:disabled {
  opacity: .5;
}

body .btn-primary {
  color: white;
  background: #c46;
}

body .btn.btn-secondary {
  color: black;
  background: #edbcc8;
}
