.m-t-5 {
  margin: 5px;
  padding: 5px;
}

.m-t-10 {
  margin: 10px;
  padding: 10px;
}

.m-t-15 {
  margin: 15px;
  padding: 15px;
}

.m-t-20 {
  margin: 20px;
  padding: 20px;
}

.m-t-25 {
  margin: 25px;
  padding: 25px;
}

.m-b-5 {
  margin: 5px;
  padding: 5px;
}

.m-b-10 {
  margin: 10px;
  padding: 10px;
}

.m-b-15 {
  margin: 15px;
  padding: 15px;
}

.m-b-20 {
  margin: 20px;
  padding: 20px;
}

.m-b-25 {
  margin: 25px;
  padding: 25px;
}

.m-l-5 {
  margin: 5px;
  padding: 5px;
}

.m-l-10 {
  margin: 10px;
  padding: 10px;
}

.m-l-15 {
  margin: 15px;
  padding: 15px;
}

.m-l-20 {
  margin: 20px;
  padding: 20px;
}

.m-l-25 {
  margin: 25px;
  padding: 25px;
}

.m-r-5 {
  margin: 5px;
  padding: 5px;
}

.m-r-10 {
  margin: 10px;
  padding: 10px;
}

.m-r-15 {
  margin: 15px;
  padding: 15px;
}

.m-r-20 {
  margin: 20px;
  padding: 20px;
}

.m-r-25 {
  margin: 25px;
  padding: 25px;
}

.p-t-5 {
  margin: 5px;
  padding: 5px;
}

.p-t-10 {
  margin: 10px;
  padding: 10px;
}

.p-t-15 {
  margin: 15px;
  padding: 15px;
}

.p-t-20 {
  margin: 20px;
  padding: 20px;
}

.p-t-25 {
  margin: 25px;
  padding: 25px;
}

.p-b-5 {
  margin: 5px;
  padding: 5px;
}

.p-b-10 {
  margin: 10px;
  padding: 10px;
}

.p-b-15 {
  margin: 15px;
  padding: 15px;
}

.p-b-20 {
  margin: 20px;
  padding: 20px;
}

.p-b-25 {
  margin: 25px;
  padding: 25px;
}

.p-l-5 {
  margin: 5px;
  padding: 5px;
}

.p-l-10 {
  margin: 10px;
  padding: 10px;
}

.p-l-15 {
  margin: 15px;
  padding: 15px;
}

.p-l-20 {
  margin: 20px;
  padding: 20px;
}

.p-l-25 {
  margin: 25px;
  padding: 25px;
}

.p-r-5 {
  margin: 5px;
  padding: 5px;
}

.p-r-10 {
  margin: 10px;
  padding: 10px;
}

.p-r-15 {
  margin: 15px;
  padding: 15px;
}

.p-r-20 {
  margin: 20px;
  padding: 20px;
}

.p-r-25 {
  margin: 25px;
  padding: 25px;
}
